.page{
    height:100vh;
    background-image: url('../img-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page-container{
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    padding-top:160px;
}
.title{
    font-size:50px;
    font-weight:bold;
}
.text{
    font-size:20px;
}
.btn{
    padding-top:10px;
}

